@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,700&display=swap');

* {
    font-family: 'Roboto Flex', sans-serif;
}


@media only screen and (max-width:368px){
    #map {
        overflow: hidden;
        max-width: 98%;
        max-height: 100%;
    }
    .iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 0% !important;
        height: 0% !important;
    }    

    }
